
<nav class="navbar navbar-default col-md-12 navbar-static-top">
  <div class="navbar-brand">All Tasks</div>
  <ul class='nav navbar-nav navbar-right'>
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Task Index</a></li>
  </ul>
</nav>
<div class="container">

<div class="list-group">
<% @tasks.each do |task| %>
  <div class="list-group-item">
    <a href="/tasks/<%= task.id  %>"><%= task.id %>: <%= task.title %></a><br/>
    <a class="btn btn-warning" href="/tasks/<%= task.id %>/edit">edit!</a>

    <form action="/tasks/<%= task.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input class="btn btn-warning" type="submit" value="delete">
    </form>
  </div>
<% end %>
</div>
